@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles de base globaux optionnels pour harmoniser l'application */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  background-color: #ffffff;
  color: #333333;
}
